.game-opt {
    text-align: center;
    font-size: large;
    border-radius: 5px;
    background-color: #0D0F45;
    color:white;
    width: 65%;
    margin: 1.5rem auto;
}

.game-opt:hover {
    cursor: pointer;
}

.game-opt:active {
    transform: scale(.8);
}

.flagContainer {
    display:flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: rgb(38, 127, 38);
}

.incorrect {
    background-color: rgb(147, 49, 49);
}