#container {
    display: flex;
    margin-left: 2rem;
}

#cards-container {
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
}

#controllers-container {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

#controllers-container button {
    width: 10vw;
    border: solid 1px black;
    margin-right: 2rem;
}

#deck {
    /*box-shadow: #5d5d5d .4rem .4rem;*/
    margin-right: 2rem;
    cursor: pointer;
}

#hit-me-and-message {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#hit-me {
    width: 10vw;
    height: 5vw;
    align-self: center;
}

#message-board {
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 2rem;
    min-width: 20vw;
    padding: 2rem;
}

#last-card {
    margin-left: auto;
    margin-right: 2rem;
}

@media(max-width: 1000px) {

    #container {
        display: flex;
        margin: 0  !important;
    }
    
    #cards-container {
        /*flex-basis: 100%;
        display: flex;*/
        display: block;
    }
    
    #controllers-container {
        display: block;
        /*flex-basis: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;*/
    }
    
    #controllers-container button {
        /*width: 10vw;*/
        width: 100%;
        border: solid 1px black;
        margin-right: 2rem;
    }
    
    #deck {
        box-shadow: none;
        margin-right: 0;
        /*box-shadow: #5d5d5d .4rem .4rem;
        margin-right: 2rem;*/
        cursor: pointer;
    }
    
    #hit-me-and-message {
        display: flex;
        flex-direction: column;
    }
    
    #hit-me {
        width: 100%;
        height: auto;
        /*width: 10vw;
        height: 5vw;
        align-self: center*/
    }
    
    #message-board {
        border: 1px solid grey;
        border-radius: 5px;
        margin-top: 2rem;
        min-width: 20vw;
        padding: 2rem;
    }
    
    #last-card {
        margin-left: auto;
        margin-right: 2rem;
    }

}