<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-customization">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/rocket-only.png" width="50" height="50" class="d-inline-block align-top" alt="Bootstrap" loading="lazy">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent2">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active nav-link-customization" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-customization" href="#">Quién Soy</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-link-customization" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Quién Sos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item nav-link-customization" href="#">Registrarse</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>