<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-customization">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <img src="../../../assets/rocket-only.png" width="50" height="50" class="d-inline-block align-top" alt="Bootstrap" loading="lazy">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent2">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active nav-link-customization" aria-current="page" routerLink="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-customization" routerLink="/about-me">Quién Soy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-customization" *ngIf="this.user != null;" routerLink="/chat/chat-room">Chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-customization" *ngIf="this.user != null;" routerLink="/scores">Puntajes</a>
          </li>
          <li class="nav-item dropdown" *ngIf="this.user != null;">
            <a class="nav-link dropdown-toggle nav-link-customization" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Juegos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item nav-link-customization" routerLink="/ahorcado">Ahorcado</a></li>
              <li><a class="dropdown-item nav-link-customization" routerLink="/preguntados-banderas">Banderas</a></li>
              <li><a class="dropdown-item nav-link-customization" routerLink="/mayor-o-menor">Mayor o menor</a></li>
              <li><a class="dropdown-item nav-link-customization" routerLink="/el-camino">El camino</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown" *ngIf="this.user != null; else noUser">
            <a class="nav-link dropdown-toggle nav-link-customization" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{this.dropdownLabel}}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item nav-link-customization" (click)="this.LogOut()">Salir</a></li>
            </ul>
          </li>
          <ng-template #noUser>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle nav-link-customization" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{this.dropdownLabel}}
              </a>
              <ul class="dropdown-menu" *ngIf="this.user == null">
                <li><a class="dropdown-item nav-link-customization" routerLink="/login">Login</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item nav-link-customization" routerLink="/register">Registrate</a></li>
              </ul>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </nav>