<div id="d-pad-container">
    <div id="first-row">
        <div class="empty-space"></div>
        <img id="up" src="assets/up-chevron.png" alt="up-btn" (click)="emitInput('u')">
        <div class="empty-space"></div>
    </div>
    <div id="second-row">
        <img id="left" src="assets/left-chevron.png" alt="left-btn" (click)="emitInput('l')">
        <div class="empty-space"></div>
        <img id="right" src="assets/right-chevron.png" alt="right-btn" (click)="emitInput('r')">
    </div>
    <div id="third-row">
        <div class="empty-space"></div>
        <img id="down" src="assets/down-chevron.png" alt="down-btn" (click)="emitInput('d')">
        <div class="empty-space"></div>
    </div>
</div>