<div class="container mt-2">
    <div class="row">
      
        <div class="col-12" *ngFor="let game of games">
          <div style="display: flex; margin-bottom: 2rem;">
              <img style="border-radius: 5px;" src="{{ game._photo_url }}" alt="Acceso a juego">
              <div style="margin-left: 2rem; background-color: aliceblue; display:flex; flex-direction: column; justify-content: space-around; padding: 1rem 2rem; width: 100%;">
                
                <p class="card-text" style="line-height: 2rem;">{{game._game_description}}</p>
                <a routerLink="{{game._game_url}}" class="btn btn-primary" style="width: 100%;">Jugar</a>
              </div>
            </div>
      </div> 

    </div>
</div>