<div class="container mt-5">
    <form [formGroup]="this.surveyForm">
        <div class="row">
          <div class="col">
            <input [ngClass]="{'is-invalid': this.surveyForm.get('name')?.invalid && this.surveyForm.get('name')?.touched && this.allHasBeenTouched() }" formControlName="name" type="text" class="form-control" placeholder="Nombre">
          </div>
          <div class="col">
            <input [ngClass]="{'is-invalid': this.surveyForm.get('last_name')?.invalid && this.surveyForm.get('last_name')?.touched && this.allHasBeenTouched() }" formControlName="last_name" type="text" class="form-control" placeholder="Apellido">
          </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <input [ngClass]="{'is-invalid': this.surveyForm.get('phone_number')?.invalid && this.surveyForm.get('phone_number')?.touched && this.allHasBeenTouched() }" formControlName="phone_number" class="form-control" type="text" placeholder="Teléfono">
            </div>
            <div class="col">
                <div class="form-group">
                    <select [ngClass]="{'is-invalid': this.surveyForm.get('favourite_game')?.invalid && this.surveyForm.get('favourite_game')?.touched && this.allHasBeenTouched() }" formControlName="favourite_game" class="form-control" id="favourite-game">
                      <option value="unselected" selected>Juego Favorito</option>
                      <option value="ahorcado">Ahorcado</option>
                      <option value="banderas">Banderas</option>
                      <option value="mom">Mayor o menor</option>
                      <option value="camino">El camino</option>
                    </select>
                  </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <label for="gender-radio">Género</label><br>
                <div class="form-check form-check-inline mt-1" id="gender-radio">
                    <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="maleOption" value="male">
                    <label class="form-check-label" for="inlineRadio1">Masculino</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="femaleOption" value="female">
                    <label class="form-check-label" for="inlineRadio2">Femenino</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="otherOption" value="other" checked>
                    <label class="form-check-label" for="inlineRadio3">Otro</label>
                  </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <div class="form-check">
                    <input formControlName="played_all_games" class="form-check-input" type="checkbox" value="played-all-games" id="played-all-games">
                    <label class="form-check-label" for="defaultCheck1">
                      He jugado a todos los juegos
                    </label>
                  </div>
            </div>
        </div>
      </form>
      <button class="btn btn-lg btn-primary btn-block mt-4" style="width: 100%" (click)="this.SendSurvey()">Enviar</button>
      
      <div *ngIf="this.surveyForm.invalid && this.surveyForm.touched && this.allHasBeenTouched()" class="alert alert-danger mt-3">
        <div *ngIf="this.surveyForm.get('name')?.touched && surveyForm.get('name')?.hasError('required')">El nombre es requerido</div>
        <div *ngIf="this.surveyForm.get('last_name')?.touched && surveyForm.get('last_name')?.hasError('required')">El apellido es requerido</div>
        <div *ngIf="this.surveyForm.get('phone_number')?.touched && surveyForm.get('phone_number')?.hasError('required')">El teléfono es requerido</div>
        <div *ngIf="this.surveyForm.get('phone_number')?.touched && surveyForm.get('phone_number')?.hasError('pattern')">El teléfono sólo puede contener números</div>
        <div *ngIf="this.surveyForm.get('phone_number')?.touched && surveyForm.get('phone_number')?.hasError('maxlength')">El teléfono no puede exceder los diez caracteres</div>
        <div *ngIf="this.surveyForm.get('favourite_game')?.touched && surveyForm.get('favourite_game')?.hasError('valid_favourite_game')">Seleccione un juego favorito</div>
      </div>

</div>