<div class="container mt-4">
    <div class="row">
        <div class="co-12 col-lg-3 first-reveal">
            <div class="card">
                <img class="card-img-top img-thumbnail img-fluid rounded-pill" src="../../../assets/micara.webp" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Ignacio Perez Artaso</h5>
                    <ul>
                        <li>
                            DNI: 37124127
                        </li>
                        <li>
                            Legajo Nro. 106134
                        </li>
                        <li>
                           División: 4to B
                        </li>
                        <li>
                            https://github.com/perez-artaso
                        </li>
                        <li>perez.artaso@gmail.com
                        </li>
                    </ul>
                </div>
              </div>
        </div>
        <div class="col align-self-center my-sm-4 second-reveal">
            <div class="card" >
                <h1>RayoEspacial</h1>
                <div class="card-body">
                  <h5 class="card-title">El Camino</h5>
                  <p class="card-text">
                    Mi juego consiste en un tablero en forma de grilla cuadrangular en el que se enseñará al jugador una ruta que conecta una entrada con una salida.
                    Tras unos instantes, se ocultará este recorrido y el intrépido jugador deberá recordarlo, contando con tres intentos para recorrer correctamente el camino. <br><br>
                    Cualquier equivocación en la ruta contará como un intento fallido.
                    Los recorridos se generarán proceduralmente al inicio de cada partida, por lo que el desafío se renovará constantemente. <br><br>
                    El tamaño del tablero será personalizable. Mientras más grande, más puntos dará la victoria.
                  </p>
                </div>
              </div>
        </div>
    </div>
</div>