#board-container {
    display: flex;
    justify-content: space-evenly;
}

#d-pad-container {
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#player-lifes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#player-lifes > img {
    max-width: 5vw;
}

.userMessage {
    padding: 3rem;
    border-radius: 5px;
}